<!-- base.html -->
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>ELECTION</title>
    <link type="text/css" href="{% static 'css/styles.css' %}" rel="stylesheet"/>
</head>
<body>
    <header>
        <!-- Add your header content here -->
    </header>

    <div class="menu-container">
        <div class="main-menu">
            <ul>
                {% for gr_name, items in menu_data.items %}
                <li>
                    <button class="main-group-btn" onclick="toggleSubmenu('{{ gr_name }}')">{{ gr_name }}</button>
                    <ul class="sub-menu" id="{{ gr_name }}Menu">
                        {% for item in items %}
                        <li>
                            <a class="menu-item" href="{% url 'content' gr_name item %}">{{ item }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
    <div class="content-container">
        {% block content %}

        {% endblock %}
    </div>

    <script src="{% static 'js/menu.js' %}"></script>
</body>
</html>
