{% load static %}
<!DOCTYPE html>

<h1>PREVIEW</h1>
<div class="gradient-border" id="dropdown1">
    <div class="head-fam-box">HEAD FAM</div>
    <div class="overlay-border">
    <p>Hello, this is a pretty div with a gradient-like border effect!</p>
    </div>
    <div class="overlay-border">
    <p>Hello, this is a pretty div with a gradient-like border effect!</p>
    </div>
    <div class="overlay-border">
    <p>Hello, this is a pretty div with a gradient-like border effect!</p>
    </div>
</div>
<div class="pieGraphContainer" style="width: 300px; height: 300px;">
    <svg height="200" width="200" viewBox="-100 -100 200 200">
        <circle r="50" cx="0" cy="0" fill="grey" />
        <circle r="50" cx="0" cy="0" fill="transparent"
              stroke="tomato"
              stroke-width="100"
              stroke-dasharray="188.5 314.16"
              transform="rotate(45)"/>
    </svg>
</div>

